h1{
    background-color: rgb(98, 0, 255);
    color: azure;
}
#Two{
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
}
#try{
    background-color: rgb(0, 140, 255);
    color: azure;
}
body{
    background-color: rgba(0, 110, 255, 0.342);
}
a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 24px;
}
.main{
    width: 800px;
    border-radius: 65px 0;
    display: block;
    box-shadow: 30px 30px 30px 5px rgb(168, 1, 1);}
li{
    padding: 20px;
    /* border: 10px outset rgb(0, 174, 255); */
}
li:hover{
    background-color: rgb(255, 251, 0)
}
header{
    background-color: rgb(0, 37, 250);
    display: flex;
}
.menu-list-item:hover .about-menu-list{
    display: block;
}
.about-menu-list{
    display: none;
    position: absolute;
    background-color: rgb(250, 0, 117);
    left: -10px;
    top: 100px;
    padding: 30px;
    width: 120px;
}
.about-menu-list-item {
    border: 1px solid rgb(255, 0, 0);
}

.menu-list-item{
    position: 56px;
}
img{
    width: 800px;
    border-radius: 55px 55px;
    display: block;
    box-shadow: 30px 30px 30px 5px rgb(64, 83, 255);
}
