h1{
    background-color: rgb(98, 0, 255);
    color: azure;
}
h3{
    color: azure;
    background-color: rgba(0, 0, 0, 0.842);
    font-style: italic;
}
#Two{
    background-color: rgb(0, 89, 255);
    color: rgb(255, 255, 255);
}
#try{
    background-color: rgb(0, 140, 255);
    color: azure;
}
body{
    background-image: url("http://anapakult.ru/images/CHEreabqKNM.jpg");
    
    
    
    
}
a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

li{
    padding: 20px;
    /* border: 10px outset rgb(0, 174, 255); */
}
li:hover{
    background-color: rgb(0, 110, 255, 0.342)
}
header{
    background-color: rgb(0, 37, 250);
    display: flex;
}
.menu-list-item:hover .about-menu-list{
    display: block;
}


.menu-list-item{
    position: 56px;
}
img{
    width: 800px;
    border-radius: 55px 55px;
    display: block;
    box-shadow: 30px 30px 30px 5px rgb(64, 83, 255);
}
